[core]
  excludesfile = ~/.gitignore_global
  editor = vim

[user]
  name = Yuki Urakawa
  email = urakawa.0205@gmail.com

[push]
  default = simple

[color]
  ui = true

[pager]
  log = diff-highlight | less
  show = diff-highlight | less
  diff = diff-highlight | less

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[grep]
  lineNumber = true

[diff]
  tool = vimdiff
  algorithm = histogram
  compactionHeuristic = true

[merge]
  tool = vimdiff

[alias]
  a  = add
  au = add -u
  aa = add -A
  c  = commit -m
  ca = commit --amend --no-edit
  co = checkout
  d  = diff
  dw  = diff --color-words
  s  = status --short --branch
  l  = log --oneline --graph --decorate
  b  = branch

[ghq]
  root = ~/go/src
